body {
    background-color: gray;

}
.block {
    border: solid black;
    background-color: blanchedalmond;
    margin: 100px;
    padding: 50px;
    top: 50px;
    left: 20px;
}
.header {
    padding: 20px;
}
section {
    padding: 20px;
    margin: 20px;
}
.container {
    padding: 20px;
    margin: 20p
}
